// Editor-specific styles
.wp-block-front-it-form {
    margin: 1.25rem;

    // Add any editor-specific overrides here if needed
    .front-it-form {
        border: 0.0625rem dashed #ddd;
        padding: 1.25rem;
    }
}
